body {
  background-color: tan;
  margin: 0;
  line-height: 1.5;
  text-align: center;
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

select {
  margin-top: 10px;
  padding: 0.5rem 1rem;
}

a {
  color: white;
  text-align: right;
}

ul {
  list-style: none;
  width: 900px;
  margin: 1rem auto;
  text-align: left;
}

li {
  margin: 1rem;
}

.image {
  height: 200px !important;
  width: 35%;
  margin: 0.5rem;
}

h4 {
  background-color: teal;
  padding: 8px;
  color: white;
  border-radius: 20px;
  display: inline;
  text-align: left;
}

p {
  font-size: 1.5rem;
  font-weight: 600;
}

button {
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: none;
  text-align: right;
}

.flex {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.read-more {
  float: right;
}
.read-more a {
  text-decoration: none;
}
.articles {
  vertical-align: top;
  width: 60%;
  height: 200px !important;
}
