* {
  font-family: "Roboto", sans-serif;
}

body {
  text-align: center;
  background-color: rgb(247, 203, 137);
}

header {
  background-color: #333;
  color: white;
  padding: 1em;
}

h1 {
  font-size: 2em;
  font-weight: bold;
}

#search {
  margin: 40px;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

div {
  margin: auto;
  width: 50%;
}

img {
  margin: 0.5rem;
}
